[Unit]
Description=%i service with docker compose
After=docker.service
Requires=docker.service

[Service]
User=ansible
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/docker/compose/docker-compose-services/%i

ExecStart=/bin/bash -c "docker compose up -d"
ExecStop=/bin/bash -c "docker compose down"

[Install]
WantedBy=multi-user.target
